@{
    ViewBag.Title = "About";
}
<body>
    <h2 style="color:red">@TempData["Message"]</h2>
    姓名：@ViewData["myName"] <br />
    年龄：@TempData["myAge"] <br />
    国籍：@TempData["myNationality"] <br />
</body>
