
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .btn{
            width:100px;
            height:30px;
            
            background-color:greenyellow;
        }
    </style>
</head>
<body>
    邮箱:<input type="text" placeholder="请输入邮箱" class="active"><br/>
    手机:<input type="text" placeholder="请输入手机号码" class="active"><br />
    设置密码:<input type="text" placeholder="请输入密码" class="active"><br />
    确认密码:<input type="text" placeholder="请确认邮箱" class="active"><br />
    昵称:<input type="text" placeholder="请输入昵称" class="active"><br />
    <input id="checkBox" type="checkbox" checked="checked" />请阅读 <a href="#">《用户服务协议》</a><br />
    <input id="btnOK" type="submit" class="btn"  value="我要注册"/>
</body>
</html>

