
@{
    ViewBag.Title = "Style";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";

}


    <dl>
        <dt>【HTML教程】</dt>
        <dd>
            <ul>
                <li><a href="#">HTML</a></li>
                <li><a href="#">HTML5</a></li>
                <li><a href="#">XHTML</a></li>
                <li><a href="#">CSS</a></li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt>【.NET学习】</dt>
        <dd>
            <ul>
                <li><a href="#">ASPX.NET</a></li>
                <li><a href="#">Web pages</a></li>
                <li><a href="#">MVC</a></li>
               
            </ul>
        </dd>
    </dl>


