
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @*@foreach(var item in ViewBag.RegisterEmails)
    {
        @item<br/>
    }*@
    @foreach(var item in ViewBag.Registeremails as IList<MVC_3.Models.info>)
    {
        @item.Email @item.Nick <br/>
    }
</body>
</html>

